<link rel="stylesheet" href="css/footer.css">
<!-- Footer -->
<section class="footer">

<div class="footer">
  <div class="container-fluid">
<div class="row">

  <div class="col-md-4 col-lg-3 responsive paragraph">
    <p>Copyright © <%=year%> Vani. All Rights Reserved</p>
  </div>

  <div class="col-md-4 col-lg-3 responsive paragraph">
    <p>Website designed, developed & hosted by <br>HIMANSHU JAIN</p>
  </div>

  <div class="col-md-2 responsive paragraph">
    <p>Terms of Service</p>
  </div>
  <div class="col-md-2 responsive paragraph">
    <p>Privacy Policy</p>
  </div>
  <div class="col-md-2 paragraph">
    <button onclick="topFunction()" type="" class="scroll" name="button">
      <img src="https://www.cowin.gov.in/assets/images/scroll-top.svg" class="img-fluid" alt="">
    </button>
  </div>
  </div>
</div>

</div>

</section>

<!-- Functionality of Scroll to top button -->
<script>
  function topFunction() {
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>
