<link rel="stylesheet" href="css/header.css">
<div class="container-fluid bgcolor fixed-top">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <img class="ms-2" src="images/tsp-174-modified.png" alt="" width="40" height="40">
      </a>

      <ul class="nav col-12 col-lg-auto">
        <li><a href="/" class="nav-link px-2 text-white me-4 hover-underline-animation">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white me-4 hover-underline-animation">Our Story</a></li>
        <li><a href="/login" class="nav-link px-2 text-white me-4 hover-underline-animation">Gallery</a></li>
        <li><a href="/contact" class="nav-link px-2 text-white me-4 hover-underline-animation">Contact</a></li>
      </ul>
    </header>
  </div>
