<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loading...</title>
    <style>

      #loaderId {
        background: #fff url(/images/loading.gif) no-repeat center center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999999;
      }

     .wait {
        margin-top: 350px;
        text-align: center;
      }

    </style>
  </head>
  <body>

    <div id="loaderId">
      <p class="wait">Please Wait...This may take a while</p>
      <div></div>
    </div>

  </body>
</html>
