<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <!-- Font Family -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Playfair+Display&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">

<!-- Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/9d3731f657.js" crossorigin="anonymous"></script>

<!-- Custom styles for this template -->
<link  href="css/gallery.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="images/tsp-174-modified.png">
  </head>
  <body>

    <%- include('partials/header') %>

    <section class="middle">

    <div class="row mx-5 cards cardcontainer">
      <div class="col-lg-4 eachcard">
       <div class="card shadow" style="width: 18rem; height: 25rem;">
        <img src="images/HaldiCard.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title1">Haldi Photos</h5>
          <a href="/haldi" class="btn btn-warning haldibutton" name="HaldiButton">View Images</a>
       </div>
      </div>
     </div>
    <div class="col-lg-4  eachcard">
       <div class="card shadow" style="width: 18rem; height: 25rem;">
        <img src="images/MehndiCards.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title2">Mehndi Photos</h5>
          <a href="/mehndi" class="btn btn-success mehndibutton">View Images</a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 eachcard">
       <div class="card shadow" style="width: 18rem; height: 25rem;">
        <img src="images/tsp-526.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title title3">Sangeet Photos</h5>
          <a href="/sangeet" class="btn sangeetbutton">View Images</a>
       </div>
      </div>
     </div>
</div>

  <div class="row mx-5 cards bottomcards">
    <div class="col-lg-4 eachcard">
     <div class="card shadow" style="width: 18rem; height: 25rem;">
      <img src="images/ReceptionCard.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title title4">Reception Photos</h5>
        <a href="/reception" class="btn receptnbutton">View Images</a>
     </div>
    </div>
   </div>
    <div class="col-lg-4 eachcard">
     <div class="card shadow" style="width: 18rem; height: 25rem;">
      <img src="images/tsp-372.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title title5">Welcome Photos</h5>
        <a href="/welcome" class="btn welcomebutton">View Images</a>
     </div>
    </div>
   </div>
   <div class="col-lg-4 eachcard">
    <div class="card shadow" style="width: 18rem; height: 25rem;">
     <img src="images/tsp-533.jpg" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title title6">Nikasi Photos</h5>
       <a href="/nikasi" class="btn nikasibutton">View Images</a>
    </div>
   </div>
  </div>
</div>

</section>

<%- include('partials/footer') %>

  </body>
</html>
