body {
  overflow-x: hidden;
}

.bgcolor {
  background-color: #000000;
}

/* Underline effect in header */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color:#fff;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color:#fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

/* Middle Section */

.cards {
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
}

/* Contact Section */

.contactSection {
  margin-top: 30px;
}

.contactMail {
  display: flex;
  height: 50px;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactheading {
  color: #fff95b;
}

.feedback {
  color: #45caff;
  animation: animate 1.5s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

/* Footer and Bottom to Top button */

.footer {
  background-color: #000000;
  color: #fff;
  padding-top:15px;
}

.paragraph {
  font-size: 0.8rem;
}

.bottom {
  margin-top: 40px;
}
