body {
  overflow-x: hidden;
}

.bgcolor {
  background-color: #000000;
}

/* Middle Section */

.topcards {
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

.bottomcards {
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

.contactcards {
  display: flex;
  justify-content: space-around;
}

/* Contact Section */

.contactSection {
  margin-top: 40px;
  margin-bottom: 15px;
}

.contactMail {
  display: flex;
  height: 50px;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactbgcolor {
  background-color: #91C8E4;
  width: 100vw;
}

.contactheading {
  color: #fff;
  font-weight: normal;
}

.feedback {
  color: #45caff;
  animation: animate 1.5s linear infinite;
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

.scrollingtext {
  position: relative;
  animation: rightToLeft 40s infinite;
}

@keyframes rightToLeft {
  from {right:-100%}
  to {right:1000px;}
}

@media (max-width: 767px) {
  .contactcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4%;
  }

  .responsivecard {
    margin-bottom: 20%;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4%;
  }

  .bottomcards {
    margin-top: 1%;
  }

}
