body {
  background-color: #FFF8BC;
  font-family: 'Montserrat', sans-serif;
  /* min-height: 380px; */
  /* background-image: -webkit-linear-gradient(90deg, #659DBD 50%, #F8fbf8 50%); */
}

/* F8fbf8 */

.responsivediv {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-gap: 10px;
}

.heading {
  color: #887BB0;
}

span {
  color: #FF1700;
}

@media (max-width:767px) {
  .responsivediv {
    overflow-y: hidden;
    padding-bottom: 1%;
  }

}
