/* Loader */

.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Popup Styling */
.img-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.img-popup img {
  max-width: 900px;
  width: 100%;
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
}

.close-btn {
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-btn .bar {
  height: 4px;
  background: #333;
}

.close-btn .bar:nth-child(1) {
  transform: rotate(45deg);
}

.close-btn .bar:nth-child(2) {
  transform: translateY(-4px) rotate(-45deg);
}

.opened {
  display: flex;
}

.opened img {
  animation: animatepopup 1s ease-in-out .8s;
  -webkit-animation: animatepopup .3s ease-in-out forwards;
}

@keyframes animatepopup {

  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

}

@media screen and (max-width: 880px) {

  .container .container__img-holder:nth-child(3n+1) {
    margin-left: 16px;
  }

}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#loaderId {
  background: #fff url(/images/loading.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.wait {
  text-align: center;
  margin-top: 350px;
}

/* Image Section */

.imageDiv {
  margin: 10px;
  display: inline-block;
  overflow: hidden;
}

.heading {
  color: #efa601;
}

.haldiImages {
  transition: transform .4s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid #fff;
  z-index: 9999;
  border-radius: 10px;
}

.haldiImages:hover {
  cursor: pointer;
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.imageSection {
  margin-top: 72px;
  padding-left: 60px;
  background-color: #fff;
}

/* Footer CSS */

.footer {
  background-color: #000000;
  color: #fff;
  padding-top: 1px;
  margin-top: 1px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.scroll {
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  padding: 0;
  outline: 0;
  margin: 0;
  border: none;
  background: none;
}

.paragraph {
  margin-top: 2px;
  font-size: 0.8rem;
}
