body {
  overflow-x: hidden;
}

.headings1 {
  font-family: 'Roboto Mono', monospace;
}

.headings2 {
  /* font-family: 'Lobster', cursive; */
  font-family: 'Playfair Display', serif;
}

.topsection {
  margin-top: 20px;
  width: 100vw;
}

/* 2F8F9D */

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.slider-left {
  padding-right: 110px;
}

.slider-right {
  padding-left: 110px;
}

.paragraph {
  font-size: 0.8rem;
}

.paragraph1 {
  margin-left: -990px;
  margin-bottom: 200px;
}

.paragraph2 {
  margin-bottom: 80px;
  margin-left: 300px;
  color: #000;
}

.heading1 {
  text-align: left;
  margin-bottom: 30px;
  /* margin-left: -150px; */
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

.heading2 {
  font-size: 3rem;
  margin-bottom: 45px;
  /* margin-left: 350px; */
  color: #000;
}

.heading3 {
  text-align: right;
  font-size: 3rem;
  margin-bottom: 200px;
  margin-left: 250px;
  color: #fff;
}

.button {
  margin-right: 10px;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.indicators {
  background-color: #000000;
}

/* 130f3f */

.indicators1 {
  background-color: #000000;
}

.carousel-indicators {
  margin: 0;
}

/* .top {
  margin-bottom: 10px;
} */

.top {
  margin-top: 20px;
}

hr {
  color: #e0665d;
  background-color: #e0665d;
  margin-left: 20px;
}

.list {
  margin-left: 10px;
  text-align: left;
}

i {
  position: fixed;
  bottom: 30px;
  right: 40px;
  cursor: pointer;
  background-color: #0E4D92;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
  border: 2px solid;
  border-bottom-color: #ffffff;
  z-index: 999;
}

i:hover {
  color: #0096ff;
  transition: 0.5s;
}

.typingCursor {
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 2s steps(20) 1s 1 normal both,
  blink 2000ms steps(20) infinite normal;
  border-right: 6px solid #fff;
}

@keyframes typewriter {
  from { width: 0%;}
  to { width: 37%;}
}

@keyframes blink {
  from { border-color: #fff;}
  to { border-color: transparent;}
}

/* Middle Section */

.preweddingdiv {
  margin: 30px 0;
  height: 600px;
}

.preweddingheading {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 20px;
  color: #a20a0a;
}

.youtubevideo {
  margin-left: 8%;
}

/* Bottom section */

.groomdiv {
  margin: 20px 0;
  overflow: hidden;
  width: 100vw;
  opacity: 0; /* Hide the div initially */
  transform: translateX(50px); /* Move the div to the left initially */
  transition: opacity 1s ease, transform 1s ease; /* Add transition for smooth animation */
}

.groomheading {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 20px;
  color: #a20a0a;
}

.groomimage {
  float: right;
  margin-top: 20px;
  margin-right: 90px;
  /* position: absolute; */
  /* margin-left: 600px; */
   /* margin: auto; */
   /* position: relative;
   animation: fromRightToLeft 5s infinite; */
}

/* @keyframes fromRightToLeft {
  from {right: -100%;}
  to {right: 100px;}
} */

.groompara {
  text-align: left;
  margin-left: 500px;
  margin-top: 30px;
  font-size: 30px;
  color: #a20a0a;
  line-height: 2;
  /* position: relative;
  animation: slideFromLeftToCenter 5s infinite; */
}

/* @keyframes slideFromLeftToCenter {
  from {left: -100%;}
  to {left: 15px;}
} */

.headingname {
  margin-left: 550px;
  color: #a20a0a;
  font-size: 20px;
}

.bridediv {
  margin: 20px 0;
  margin-top: 50px;
  height: 300px;
  width: 100vw;
  overflow: hidden;
  opacity: 0; /* Hide the div initially */
  transform: translateX(-50px); /* Move the div to the left initially */
  transition: opacity 1s ease, transform 1s ease; /* Add transition for smooth animation */
  /* width: 800px; */
  /* position: relative; */
  /* margin: 20px;
  height: 200px; */
  /* width: 50%; */
}

.bridepara {
  margin-top: 30px;
  font-size: 30px;
  color: #4e0005;
  text-align: left;
  line-height: 2;
  margin-left: 50px;
  /* position: absolute; */
  /* top: 0; */
  /* right: -100%;
  animation: slideFromRightToCenter 5s infinite; */
}

/* @keyframes slideFromRightToCenter {
  from {right: -100%;}
  to {right: 350px;}
} */

.brideimage {
   float: left;
   margin-top: 20px;
   margin-left: 90px;
   margin-right: 130px;
   /* position: absolute; */
   /* margin-left: 600px; */
   /* margin: auto; */
   /* position: absolute;
   left: -100%;
   animation: fromLeftToRight 5s infinite; */
}

/* @keyframes fromLeftToRight {
  from {left: -100%;}
  to {left: 100px;}
} */

.brideheading {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin-left: 20px;
  color: #4e0005;
}

/* To adjust first carousal text to left as this call have by default left margin of 15% */
.carousel-caption {
  left: 7%;
}

/* Responsive Design */
@media (max-width: 767px) {

  .topsection {
    width: 100vw;
  }

  .groomdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .groomimage {
    float: none;
    margin: 0 auto; /* Center the image */
  }

  .groompara {
    text-align: left;
    margin: 30px;
  }

  .bridediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .brideimage {
    float: none;
    margin: 0 auto; /* Center the image */
  }

  .bridepara {
    text-align: left;
    margin: 30px;
  }

  .preweddingdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .youtubevideo {
    width: 80%;
  }

/* To make carousal slider buttons fit to screen for smaller screen */

  .slider-left, .slider-right {
    padding: 0px;
  }

  .responsivetext {
    font-size: 35px;
  }

  .typingCursor {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(20) 1s 1 normal both,
    blink 2000ms steps(20) infinite normal;
    border-right: 6px solid #fff;
  }

  @keyframes typewriter {
    from { width: 0%;}
    to { width: 68%;}
  }

  @keyframes blink {
    from { border-color: #fff;}
    to { border-color: transparent;}
  }
}
