/* Loader */

/* #loaderId {
  background: #fff url(/images/loading.gif) no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.wait {
  text-align: center;
  margin-top: 350px;
} */

body {
  overflow-x: hidden;
}

hr {
  color: #FFDBA4;
}

/* Lazy Loading Functionality */

.imageGallery-hidden {
      display: none;
}

/* Image Section */

.imageDiv {
  margin: 10px;
  display: inline-block;
  overflow: hidden;
}

.heading {
  color: #FFDBA4;
  font-family: 'Dancing Script', cursive;
}

.nikasiImages {
  transition: transform .4s; /* Animation */
  width: 230px;
  height: 150px;
  margin: 0 auto;
  margin-left: 20px;
  border: 2px solid #fff;
  z-index: 9999;
  border-radius: 10px;
}

.nikasiImages:hover {
  cursor: pointer;
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.imageSection {
  margin-top: 80px;
  padding-left: 70px;
  background-color: #fff;
  margin-bottom: 20px;
}

/* Footer CSS */

.footer {
  background-color: #000000;
  color: #fff;
  padding-top: 9px;
  margin-top: 1px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.scroll {
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 3;
  cursor: pointer;
  padding: 0;
  outline: 0;
  margin: 0;
  border: none;
  background: none;
}

.paragraph {
  margin-top: 2px;
  font-size: 0.8rem;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #fff; /* Black w/ opacity */
  /* opacity: 0.9; */
  overflow-y: hidden;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  height: 90%
  max-width: 900px;
  max-height: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 13.5%;
  right: 4%;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 9999;
  background-color: #000000;
  border-radius: 50%;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 767px){
  .imageSection {
      margin-top: 25%;
  }

  .modal {
    padding-top: 125px;
  }

  .modal-content {
    width: 90%;
    height: 100%;
  }

  .close {
    position: absolute;
    top: 11%;
    right: 0.2%;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 9999;
    background-color: #000000;
    border-radius: 50%;
  }

}
